@page "/demoHotel"
@using Model



<div class="border p-2 mt-2" style="background-color:azure">
    <h2 class="text-info">Room List [Using Component]</h2>
    <div class="row container">
        <div  class="col-12">
            <h4 class="text-info">Hotel Room's</h4>
            <span>Rooms Selected - @SelectedRooms</span>
        </div>
        @foreach (var room in Rooms)
        {
            <IndividualRoom Room="@room" OnRoomCheckboxSelection="RoomSelectionCounterChanged"></IndividualRoom>
        }
    </div>

    <h2 class="text-info">Hotel Amenities</h2>
    <div class="row container">
        @foreach (var a in Amenities)
        {
            <RoomAmenity amenity="@a" OnAmenitySelection="AmenitySelectionChanged">
                <R1>1</R1>
                <R2>2</R2>
            </RoomAmenity>
        }
    </div>

</div>

<div class="col-12">
        <p class="text-secondary">Selected Amenity: @SelectedAmenity</p>
</div>

@code {
    public int SelectedRooms { get; set; } = 0;

    public string SelectedAmenity { get; set; }

    List<BlazorRoom> Rooms = new List<BlazorRoom>();
    List<Amenity> Amenities = new List<Amenity>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Rooms.Add(new BlazorRoom()
        {
            Id = 201,
            RoomName = "Villa Suite One Bedroom",
            IsActive = true,
            Price = 399,
            RoomProps = new List<BlazorRoomProp>
{
                new BlazorRoomProp() {Id = 1, Name="Sq Ft", Value="330"},
                new BlazorRoomProp() {Id = 2, Name="Occupancy", Value="4"}
            }
        });
        Rooms.Add(new BlazorRoom()
        {
            Id = 2,
            RoomName = "Villa Suite Two Bedroom",
            IsActive = true,
            Price = 699,
            RoomProps = new List<BlazorRoomProp>
{
                new BlazorRoomProp() {Id = 1, Name="Sq Ft", Value="1500"},
                new BlazorRoomProp() {Id = 2, Name="Occupancy", Value="6"}
            }
        });



        Amenities.Add(new Amenity { Id = 1, Name = "Pool", Description = "Super nice" });
        Amenities.Add(new Amenity { Id = 2, Name = "Free Breakfast", Description = "Continintal of course" });
        Amenities.Add(new Amenity { Id = 3, Name = "Gym", Description = "Get SWOLE!" });
    }
    protected void RoomSelectionCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
            SelectedRooms++;
        else
            SelectedRooms--;
    }
    protected void AmenitySelectionChanged(string a)
    {
        SelectedAmenity = a;
    }
}
