@page "/learnadvancedrouting"
@inject NavigationManager NavigationManager

<h3>LearnAdvancedRouting</h3>
<h4>Paramnter 1: @Param1</h4>
<h4>Paramnter 2: @Param2</h4>

<p>
    <button class="btn btn-primary" @onclick="LoadParameters">Load Params</button>
    <NavLink href="/learnrouting" class="btn btn-secondary">Back</NavLink>
    <button class="btn btn-primary" @onclick="BackToRouting">Back</button>
</p>
@code {
    private string Param1;
    private string Param2;
    private void LoadParameters()
    {
        var absoluteUrl = new Uri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(absoluteUrl.Query);
        Param1 = query["Param1"];
        Param2 = query["Param2"];
    }
    private void BackToRouting()
    {
        NavigationManager.NavigateTo("learnrouting");
    }
}
